[data-fs-sku-matrix-sidebar] {
  // --------------------------------------------------------
  // Design Tokens for SKU Matrix Sidebar
  // --------------------------------------------------------

  // Default properties
  --fs-sku-matrix-sidebar-bkg-color: var(--fs-color-neutral-0);
  --fs-sku-matrix-sidebar-table-cell-font-weight: var(--fs-text-weight-medium);

  // --------------------------------------------------------
  // Structural Styles
  // --------------------------------------------------------

  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;

  &[data-fs-slide-over] {
    background-color: var(--fs-sku-matrix-sidebar-bkg-color);
  }

  > * {
    flex-shrink: 0;
  }

  [data-fs-sku-matrix-sidebar-table-cell] {
    font-weight: var(--fs-sku-matrix-sidebar-table-cell-font-weight);

    [data-fs-price-variant='spot'] {
      font-weight: inherit;
    }
  }

  [data-fs-quantity-selector] {
    [data-fs-icon] {
      margin: 0;
    }
  }
}
